<h1>New Topic</h1>

<div class="row">

<!-- Left Column -->

  <div class="col-md-4">
    <p>Guidelines for topics</p>
    <ul>
      <li>Be holistic.</li>
      <li>Be self-explanatory.</li>
    </ul>
  </div>

<!-- Right Column -->

  <div class="col-md-8">
<%= render partial: 'form2', locals: { topic: @topic } %>
   
  </div>

</div>

